
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    Color: Green
    ========================================================  */


/*=======================================
    GENERAL STYLES
==================================================*/
body {
   
          
    background-color: #A1E08D;
}

/*=======================================
    TEXT SECTION STYLES
==================================================*/
.head-line {
    background:#5DB84C;
}
